{% extends 'base.html' %}

{% block title %}Corrispettivi{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/corrispettivi.css') }}">
{% endblock %}

{% block script %}
  <script defer>
    const mercati = {{ mercati|tojson }}
    const session = {{ session|tojson }}
    const serverError = {{ error|tojson }}
    const ocrEndpoint = {{ url_for('ocr.ocr') }}
    // const confirmation = { confirmation|tojson }}
  </script>
  <script src="{{url_for('static', filename='script/corr.js')}}" defer></script>
  <script src="https://kit.fontawesome.com/9f6b895217.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <main>
    <form enctype="multipart/form-data" id="ocr-form">
      <label for="ocr" class="global-btn ocr-btn">
        <!-- Icona FontAwesome fotocamera -->
        <i class="fa-regular fa-camera"></i>
        Scansiona
      </label>
      <input type="file" name="image" accept="image/*" capture="environment"  id="ocr">
    </form>

    <form action="{{ url_for('corr.inserisci')}}" class="corrispettivi-inserisci" method="POST">

      <fieldset>
        <legend>Mercato</legend>

        <label for="data">Data</label>
        <input type="date" name="data" max="{{ today }}" value="{{ session['data'] if session['data'] else today }}" id="data" required>

        <label for="mercato">Mercato</label>
        <select name="mercato" id="mercato" required>
            {% if not session['mercato'] %}
              <option selected></option>
            {% endif %}
            {% for mercato in mercati_nomi %}
              <option 
              {% if mercato == session['mercato'] %}
                selected
              {% endif %}
              >
                {{ mercato }}
              </option>
            {% endfor %}
          </select>

        <label for="giorno_mercato">Giorno</label>
        <select name="giorno_mercato" id="giorno_mercato" required>
          {% for giorno in [ 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato', 'Domenica' ]%}
            <option
            {% if giorno == session['giorno_mercato'] %}
              selected
            {% endif %}
            >
              {{ giorno }}
            </option>
          {% endfor %}
        </select>
        

        <label for="cassa">Cassa</label>
        <select name="cassa" value="{{ session['cassa'] }}" id="cassa" required>
          <option>Cassa 1</option>
          <option>Cassa 2</option>
          <option>Cassa 3</option>
        </select>
      </fieldset>

      <fieldset class="reparti">
        <legend>Corrispettivo</legend>

        <p>Reparto 1</p>
        <label>
          Quantità:
          <input type="number" name="quantita1" min="0" step="1" value="{{ session['quantita1'] }}" placeholder="0">
        </label>
        <label>
          Totale:
          <input type="number" min="0" step="0.01" name="reparto1" value="{{ session['reparto1'] }}" placeholder="0,00">
        </label>

        <p>Reparto 2</p>
        <label>
          Quantità:
          <input type="number" name="quantita2" min="0" step="1" value="{{ session['quantita2'] }}" placeholder="0">
        </label>
        <label>
          Totale:
          <input type="number" min="0" step="0.01" name="reparto2" value="{{ session['reparto2'] }}" placeholder="0,00">
        </label>
        
        <p>Reparto 3</p>
        <label>
          Quantità:
          <input type="number" name="quantita3" min="0" step="1" value="{{ session['quantita3'] }}" placeholder="0">
        </label>
        <label>
          Totale:
          <input type="number" min="0" step="0.01" name="reparto3" value="{{ session['reparto3'] }}" placeholder="0,00">
        </label>

        <p>Reparto 4</p>
        <label>
          Quantità:
          <input type="number" name="quantita4" min="0" step="1" value="{{ session['quantita4'] }}" placeholder="0">
        </label>
        <label>
          Totale:
          <input type="number" min="0" step="0.01" name="reparto4" value="{{ session['reparto4'] }}" placeholder="0,00">
        </label>

        <p>Reparto 5</p>
        <label>
          Quantità:
          <input type="number" name="quantita5" min="0" step="1" value="{{ session['quantita5'] }}" placeholder="0">
        </label>
        <label>
          Totale
          <input type="number" min="0" step="0.01" name="reparto5" value="{{ session['reparto5'] }}" placeholder="0,00">
        </label>
      
        <div class="totali">
          <label>
            N. pezzi:
            <input type="number" name="quantita_totale" min="0" step="1" value="{{ session['quantita_totale'] }}" id="quantita_totale" required>
          </label>
          <label>
            Totale:
            <input type="number" min="0" step="0.01" name="totale" value="{{ session['totale'] }}" id="totale" required>
          </label>
        </div>
      </fieldset>

      <button class="global-btn text-medium" type="submit">Inserisci</button>
    </form>
  </main>

  <dialog id="error-dialog">
    <h2 class="global-error">Errore</h2>
    {% for key in error %}
      <p>{{ error[key] }}</p>
    {% endfor %}
    <p id="error-message" hidden></p>    
    <form method="dialog"><button class="global-btn">Ok</button></form>
  </dialog>

  <dialog id="loading">
    <!-- Icona FontAwesome spinner -->
    <i class="fa-solid fa-spinner fa-spin"></i>
    <p>Sto leggendo...</p>
  </dialog>
{% endblock %}

<!-- {% if confirmation %}
    <article class="confirmation text-medium">
      <img class="attenzione hidden" src="{{url_for('static', filename='attenzione.png')}}" alt="Attenzione!">
  
      {% if cassa_sballata %}
        <p class="hidden"><span class="bold">{{ corrispettivo.cassa }}</span> è un valore anomalo per la cassa.</p>
      {% endif %}
  
      <p class="hidden">Sei sicuro di voler continuare? L'operazione <span class="bold">non potrà essere annullata</span>.</p>
  
      <div class="btn-wrapper">
        <a href="{{ url_for('corr.inserisci') }}" class="global-btn hidden">Correggi</a>
        <a href="{{ url_for('corr.insert') }}" class="global-btn inserisci-btn hidden">Inserisci</a>
      </div>
    </article>
  {% endif %} -->