.corrispettivi-inserisci {
  display: flex;
  flex-direction: column;
  align-items: center;

  fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 2em 0;
  }

  legend {
    font-weight: bold;
    color: var(--color-title);
    padding: 0 .33em
  }

  label {
    display: block;
  }

  input,
  select {
    padding: .25em .5em;
    margin: .2em 0 1em;
  }

  .input-error {
    border: 1px solid red;
    box-shadow: 0 0 6px 0px red;
  }

  .reparti {
    p {
      font-weight: bold;
      margin-bottom: .5em;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    label:nth-of-type(even) {
      margin-bottom: 1.5em;
    }

    input {
      width: 6em;
      margin-left: 1em;
      margin-bottom: .5em;
    }
  }

  .ocr-input {
    background-color: lightyellow;
  }

  .totali label {
    font-weight: bold;
  }

  button {
    margin-bottom: 2em;
  }

  span {
    margin-bottom: 1.5em;
  }

  @media only screen and (min-width: 480px) {
    fieldset {
      display: block;
    }

    label {
      display: inline;;
    }

    input,
    select {
      margin-left: .5em;
      margin-right: 2em;
    }

    select:last-child {
      margin-right: 0;
    }

    .reparti input {
      width: auto;
    }
  }
}

.ocr-btn {
  display: block;
  margin: 3em auto 0;
  width: fit-content;
  font-size: 1.2rem;
}

dialog {
  border: 1px solid var(--color-title);
  border-radius: 25px;
  padding: 2em;
  text-align: center;

  h2 {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1em;
  }

  form {
    text-align: center;

    button {
      font-size: 1.2rem;
    }
  }
}

/* .confirmation {
  position: absolute;
  top: 10vh;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  border: 2px solid var(--color-title);
  border-radius: 25px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition-property: width, height, left;
  transition-duration: 1s;

  .attenzione {
    width: 100px;
    height: auto;
  }

  .inserisci-btn {
    background-color: #fff;
    color: var(--color-title);
    border: 2px solid var(--color-title);
  }
}

.confirmation-active {
  left: 20vw;
  width: 60vw;
  height: 80vh;
} */

.corrispettivi-success {
  padding: 2em 1em;

  h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  table {
    margin: 1rem auto;
    min-width: 70vw;
  }
}

.reparti-td:nth-of-type(odd) {
  margin-bottom: .2em;
}

.reparti-td:nth-of-type(even) {
  margin-top: .2em;
}

.card-wrapper {
  display: flex;
  justify-content: space-between
}

.card-label {
  font-weight: bold;
}

.btn-wrapper {
  min-width: 20vw;
}

.btn-wrapper {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    text-align: center;
    width: 5em;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 480px) {
  .corrispettivi-success {
    padding: 5em;

    h1 {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 5em;
    }

    table {
      margin-bottom: 5em;
    }
  }

  .ocr-button {
    display: none;
  }

  tr:first-child > th {
    text-align: right;
    border-bottom: none;
  }

  .reparti-td {
    text-align: right;
  }

  .reparti-colgroup:nth-child(odd) {
    background-color: var(--color-bg);
  }

  .card-wrapper {
    display: block;
  }

  .card-title,
  .card-label {
    display: none;
  }

  .btn-wrapper {
    max-width: 20%;

    a {
      font-size: 1.4rem;
    }
  }
}