.corrispettivi-inserisci {
  display: flex;
  flex-direction: column;
  align-items: center;

  fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 2em 0;
  }

  legend {
    font-weight: bold;
    color: var(--color-title);
    padding: 0 .33em
  }

  label {
    display: block;
  }

  input,
  select {
    padding: .25em .5em;
    margin: .2em 0 1em;
  }

  .input-error {
    border: 1px solid red;
    box-shadow: 0 0 6px 0px red;
  }

  .reparti {
    p {
      font-weight: bold;
      margin-bottom: .5em;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    label:nth-of-type(even) {
      margin-bottom: 1.5em;
    }

    input {
      width: 6em;
      margin-left: 1em;
      margin-bottom: .5em;
    }
  }

  .totali label {
    font-weight: bold;
  }

  button {
    margin-bottom: 2em;
  }

  span {
    margin-bottom: 1.5em;
  }

  @media only screen and (min-width: 480px) {
    fieldset {
      display: block;
    }

    label {
      display: inline;;
    }

    input,
    select {
      margin-left: .5em;
      margin-right: 2em;
    }

    select:last-child {
      margin-right: 0;
    }

    .reparti input {
      width: auto;
    }
  }
}

dialog {
  border: 1px solid var(--color-title);
  border-radius: 25px;
  padding: 2em;
  text-align: center;

  h2 {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1em;
  }

  form {
    text-align: center;

    button {
      font-size: 1.2rem;
    }
  }
}

/* .confirmation {
  position: absolute;
  top: 10vh;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  border: 2px solid var(--color-title);
  border-radius: 25px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition-property: width, height, left;
  transition-duration: 1s;

  .attenzione {
    width: 100px;
    height: auto;
  }

  .inserisci-btn {
    background-color: #fff;
    color: var(--color-title);
    border: 2px solid var(--color-title);
  }
}

.confirmation-active {
  left: 20vw;
  width: 60vw;
  height: 80vh;
} */

.corrispettivi-success {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 40vh;

  td:nth-last-child(-n+5) {
    text-align: right;
  }

  .btn-wrapper {
    min-width: 20vw;
  }
}

.btn-wrapper {
  min-width: 33%;
  display: flex;
  justify-content: space-between;
}