.console {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;

  ul {
    display: inline-block;
  }

  li {
    margin: 2em 0;
  }

  a {
    display: block;
    text-align: center;
  }
}

/* .console {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    width: 33vw;
    justify-content: space-between;
  }
} */