:root {
  --color-title: Maroon;
  --color-bg: #ffe6e6;
  --margin-left: 10vw;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: var(--color-title);
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--color-title);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--color-title);

  &:hover {
    cursor: pointer;
  }
}

em {
  font-style: italic;
  color: gray;
}

input,
select {
  font-size: 1rem;
}

thead,
th {
  display: none;
}

tr {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-title);
  border-radius: 25px;
  margin: 1rem 0;
  padding: 2.5em 2em;
}

td {
  margin: .5em 0;
}

.card-title {
  margin-bottom: .2em;
  color: var(--color-title);
  font-weight: bold;
}

.text-big {
  font-size: 1.6rem;
}

.text-medium {
  font-size: 1.4rem;
}

.bold {
  font-weight: bold;
  color: var(--color-title)
}

.hidden {
  opacity: 0;
  transition: opacity 1.8s ease-in;
}

.visible {
  opacity: 1;
}

.global-logout {
  padding: 1em;
  font-size: 0.8rem;
  text-align: right;
  background-color: var(--color-bg);

  a {
    margin-left: 1em;
  }
}

.global-logo {
  display: block;
  width: 40vw;
  height: auto;
  margin: 3rem auto 0;
}

.global-btn {
  background-color: var(--color-title);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: .3em 1em;

  &:hover {
    cursor: pointer;
  }
}

.global-error {
  color: red;
  font-weight: bold;
}

.pointer:hover {
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }

  table {
    padding: .5em 0;
    border-top: 2px solid var(--color-title);
    border-bottom: 2px solid var(--color-title);
  }

  thead {
    display: table-header-group;
  }

  td {
    margin: 0;
  }

  tr {
    display: table-row;
    border: none;
  }

  th {
    display: table-cell;
    padding: .5em .8em;
    font-weight: bold;
    color: var(--color-title);
    text-align: left;
    border-bottom: 1px solid var(--color-title);
  }

  td {
    padding: .5em .8em;
  }
  
  .global-logo {
    height: 20vh;
    width: auto;
  }

  .global-logout {
    font-size: 1rem;
  }
}