<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

  {% block style %}{% endblock %}

  {% block script %}{% endblock %}

  <title>Là di Cjastelan | {% block title %}{% endblock %}</title>
</head>

<body>
  {% if g.user %}
    <nav class="text-small global-logout">
      <span>{{ g.user.username }}</span>

      {% if g.user.is_admin %}
        <a href="{{ url_for('index') }}" class="global-btn">Menù</a>
      {% endif %}
      
      <a href="{{ url_for('auth.logout') }}" class="global-btn">Logout</a>
    </nav>
  {% endif %}
    
  {% block content %}{% endblock %}
</body>
</html>