<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/cattura.css')}}">

  <script src="{{ url_for('static', filename='script/cattura.js')}}" defer></script>
  <script src="https://kit.fontawesome.com/9f6b895217.js" crossorigin="anonymous"></script>
  <script>
    const catturaEndpoint = {{ url_for('ocr.cattura')|tojson }}
    const corrUrl = {{ url_for('ocr.ocr')|tojson }}
  </script>

  <title>Là di Cjastelan | Cattura</title>
</head>

<body>
  <!-- Sound Effect by <a href="https://pixabay.com/users/freesound_community-46691455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=6448">freesound_community</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=6448">Pixabay</a> -->
  <audio src="{{ url_for('static', filename='camera-capture.mp3') }}"></audio>

  <canvas id="preview" hidden></canvas>
  <canvas id="hq" hidden></canvas>

  <video class="full-screen" autoplay playsinline id="video">Fotocamera non disponibile</video>

  <nav>
    <!-- Croce per tornare indietro -->
    <a href="{{ url_for('corr.inserisci') }}">&times;</a>
    <button type="button" id="help-btn">?</button>
  </nav>

  <dialog id="help">
    <p>Fotografa solo la prima parte dello scontrino, da sotto "Azzeramento Reparti" fino alla data sopra "Documento Gestionale".</p>
    <p>
      Cerca di riempire il più possibile lo schermo, facendo in modo che nella foto ci sia solo lo scontrino e nient'altro: più
      grandi e nitidi sono i caratteri, più preciso e veloce sarà il lettore nel riconoscimento.
    </p>
    <p>Cerca di avere uno sfondo uniforme, preferibilmente ad alto contrasto ripetto al bianco, per esempio poggiando lo scontrino su un tavolo scuro.</p>
    <p>
      Dopo aver scattato, tocca
      <span class="global-btn text-btn">
        <i class="fa-regular fa-circle-check"></i>
      </span>
      per leggere la foto. Se lo scatto non ti piace, tocca
      <span class="global-btn text-btn">
        <i class="fa-solid fa-trash"></i>
      </span>
      per scattare un'altra foto.
    </p>
    <p>
      Guarda gli esempi TODO.
    </p>
    <form method="dialog"><button class="global-btn">Ok</button></form>
  </dialog>

  <div class="full-screen" id="flash" hidden></div>

  <img class="full-scale" id="foto" hidden>
  
  <dialog id="loading">
    <!-- Icona FontAwesome spinner -->
    <i class="fa-solid fa-spinner fa-spin"></i>
    <p>Sto leggendo...</p>
  </dialog>

  <dialog id="error">
    <h3 class="global-error modal-title">Errore</h3>
    <p id="error-description"></p>
    <button class="global-btn" id="error-btn">Ok</button>
  </dialog>
  
  <button id="scatta">
    <!-- Icona FontAwesome fotocamera -->
    <i class="fa-regular fa-camera"></i>
  </button>

  <div class="btn-wrapper hidden">
    <button class="global-btn" id="cancella">
      <!-- Icona FontAwesome cestino -->
      <i class="fa-solid fa-trash"></i>
    </button>

    <button class="global-btn disabled" id="invia" disabled>
      <!-- Icona FontAwesome spinner -->
      <i class="fa-solid fa-spinner fa-spin"></i>
    </button>
  </div>

</body>
</html>