{% extends 'base.html' %}

{% block title %} Console {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<img class="global-logo" src="{{ url_for('static', filename='logo.png') }}">
  <nav class="text-medium console">
    <ul>
      <li><a class="global-btn" href="{{ url_for('corr.inserisci') }}">Inserisci corrispettivi</a></li>
      <li><a class="global-btn" href="{{ url_for('mercati.visualizza') }}">Gestisci mercati</a></li>
    </ul>
  </nav>
{% endblock %}