{% extends 'base.html' %}

{% block title %}Mercati{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/mercati.css') }}">
{% endblock %}

{% block script %}
  <script src="https://kit.fontawesome.com/9f6b895217.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <main class="mercati">
    <h1>Mercati</h1>

    {% if session['add_mode'] or session['edit_id'] %}
    <form action="{{ url_for('mercati.visualizza') }}" method="post" id="add-form"></form>
    {% endif %}

    <table>
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Giorno</th>
          <th scope="col">Attuale</th>
          <th scope="col">Evento</th>
          <th scope="col">Modifica</th>
        </tr>
      </thead>

      <tbody>
        {% for mercato in mercati %}
          <!-- Riga se siamo in edit mode -->
          {% if session['edit_id'] and mercato.nome == session['edit_id'][0] and mercato.giorno == session['edit_id'][1] %}
            <tr id="{{ mercato.nome }}-{{ mercato.giorno }}">
              <td>
                <p class="card-title">Nome</p>
                <input type="text" name="nome" value="{{ mercato.nome }}" form="add-form" required>
              </td>
              <td>
                <p class="card-title">Giorno</p>
                <select name="giorno" form="add-form" required>
                  {% for giorno in [ 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato', 'Domenica' ] %}
                    <option
                      {% if mercato.giorno == giorno %}
                        selected
                      {% endif %}
                    >
                      {{ giorno }}
                    </option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <p class="card-title">Attuale</p>
                <input type="checkbox" name="is_attuale" value="True" form="add-form" {% if mercato.is_attuale %} checked {% endif %}>
              </td>
              <td>
                <p class="card-title">Evento</p>
                <input type="checkbox" name="is_evento" value="True" form="add-form" {% if mercato.is_evento %} checked {% endif %}>
              </td>
              <td>
                <button class="add-btn" type="submit" form="add-form">+</button>
                <!-- croce rossa -->
                <a href="{{ url_for('mercati.abort_edit') }}" class="abort-btn">&times;</a>
              </td>
            </tr>
          {% else %}
          <!-- riga di tabella normale -->
            <tr 
              {% if mercato.nome == new_nome and mercato.giorno == new_giorno %}
                class="highlight"
              {% endif %}
              id="{{ mercato.nome }}-{{ mercato.giorno }}"
            >
              <td>
                <p class="card-title">Nome</p>
                {{ mercato.nome }}
              </td>
              <td>
                <p class="card-title">Giorno</p>
                {{ mercato.giorno }}
              </td>
              <td>
                <div class="card-title-wrapper">
                  <p class="card-title">Attuale</p>
                  {% if mercato.is_attuale == None %}
                  {% elif mercato.is_attuale %}
                    <!-- tick verde -->
                    <span class="green">&#x2714;</span>
                  {% else %}
                    <!-- croce rossa -->
                    <span class="red">&#x2716;</span>
                  {% endif %}
                </div>
              </td>
              <td>
                <div class="card-title-wrapper">
                  <p class="card-title">Evento</p>
                  {% if mercato.is_evento %}
                    <!-- tick verde -->
                    <span class="green">&#x2714;</span>
                  {% endif %}
                </div>
              </td>
              <td>
                <!-- Icona modifica FontAwesome -->
                <a href="{{ url_for('mercati.edit_mode', nome=mercato.nome, giorno=mercato.giorno) }}">
                  <i class="fa-regular fa-pen-to-square"></i>
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}

        {% if session['add_mode'] %}
        <!-- Riga di inserimento nuovo mercato -->
          <tr id="new">
            <td>
              <p class="card-title">Nome</p>
              <input type="text" name="nome" value="{{ session['nome'] }}" form="add-form" required>
            </td>
            <td>
              <p class="card-title">Giorno</p>
              <select name="giorno" form="add-form" required>
                {% for giorno in [ 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato', 'Domenica' ] %}
                  <option
                    {% if session['giorno'] == giorno %}
                      selected
                    {% endif %}
                  >
                    {{ giorno }}
                  </option>
                {% endfor %}
              </select>
            </td>
            <td>
              <p class="card-title">Attuale</p>
              <input type="checkbox" name="is_attuale" value="True" form="add-form" {% if session['is_attuale'] %} checked {% endif %}>
            </td>
            <td>
              <p class="card-title">Evento</p>
              <input type="checkbox" name="is_evento" value="True" form="add-form" {% if session['is_evento'] %} checked {% endif %}>
            </td>
            <td>
              <button class="add-btn" type="submit" form="add-form">+</button>
              <!-- croce rossa -->
              <a href="{{ url_for('mercati.abort_add') }}" class="abort-btn">&times;</a>
            </td>
          </tr>

        {% else %}
          <tr>
            <td>
              <a href="{{ url_for('mercati.add_mode') }}"><span class="add">+</span> Aggiungi nuovo mercato</a>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% for message in get_flashed_messages() %}
      <span class="global-error text-medium">{{ message }}</span>
    {% endfor %}
  </main>
{% endblock %}